#LI_1 {
    block-size: 160.562px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 160.562px;
    inline-size: 413.462px;
    margin-block-end: 10px;
    padding-inline-end: 13px;
    padding-inline-start: 13px;
    perspective-origin: 206.725px 80.275px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 206.731px 80.2812px;
    width: 413.462px;
    border: 0px none rgb(51, 51, 51);
    font: 13px / 18.5714px nunito-sans, sans-serif, Helvetica, Arial;
    list-style: outside none none;
    margin: 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 13px;
}/*#LI_1*/

#LI_1:after {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 51, 51);
    font: 13px / 18.5714px nunito-sans, sans-serif, Helvetica, Arial;
    list-style: outside none none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_1:after*/

#LI_1:before {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 51, 51);
    font: 13px / 18.5714px nunito-sans, sans-serif, Helvetica, Arial;
    list-style: outside none none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_1:before*/

#H3_2 {
    block-size: 39px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 39px;
    inline-size: 387.462px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 193.725px 19.5px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 193.731px 19.5px;
    width: 387.462px;
    border: 0px none rgb(51, 51, 51);
    font: 700 20px / 39px sans-serif;
    list-style: outside none none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#H3_2*/


#ADDRESS_3 {
    block-size: 100px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 100px;
    inline-size: 387.462px;
    margin-block-end: 3px;
    perspective-origin: 193.725px 50px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 193.731px 50px;
    width: 387.462px;
    border: 0px none rgb(51, 51, 51);
    font: 13px / 25px nunito-sans, sans-serif, Helvetica, Arial;
    list-style: outside none none;
    margin: 0px 0px 3px;
    outline: rgb(51, 51, 51) none 0px;
}/*#ADDRESS_3*/




#P_7 {
    box-sizing: border-box;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    width: 387.462px;
    border: 0px none rgb(51, 51, 51);
    font: 13px / 18.5714px nunito-sans, sans-serif, Helvetica, Arial;
    list-style: outside none none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_7*/



#A_8 {
    box-sizing: border-box;
    caret-color: rgb(201, 33, 39);
    color: rgb(201, 33, 39);
    column-rule-color: rgb(201, 33, 39);
    perspective-origin: 0px 0px;
    text-align: left;
    text-decoration: none solid rgb(201, 33, 39);
    text-emphasis-color: rgb(201, 33, 39);
    border: 0px none rgb(201, 33, 39);
    font: 16px / 18.5714px nunito-sans, sans-serif, Helvetica, Arial;

    outline: rgb(201, 33, 39) none 0px;

}/*#A_8*/

BUTTON {
    margin-left: 1rem;
    position: relative;
    background: #e90d0d;
    padding: 2rem 3rem;
    font-size: 3rem;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
  }
  
  #BUTTON span {
    position: relative;
  }
  
  #BUTTON::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, rgb(241, 241, 241), transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }
  
  #BUTTON:hover::before {
    --size: 200px;
  }

  


