#DIV_1 {
    block-size: 1480.2px;
    box-sizing: border-box;
    float: left;
    height: 1480.2px;
    inline-size: 1519.2px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 759.6px 740.1px;
    text-rendering: optimizelegibility;
    transform-origin: 759.6px 740.1px;
    width: 1519.2px;
    background: rgb(247, 247, 247) none repeat scroll 0% 0% / auto padding-box border-box;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    padding: 0px 15px;
}/*#DIV_1*/



#DIV_2 {
    block-size: 0px;
    bottom: 0px;
    box-sizing: border-box;
    height: 0px;
    inline-size: 1280px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-start: 80px;
    margin-inline-end: 104.6px;
    margin-inline-start: 104.6px;
    max-inline-size: 100%;
    max-width: 100%;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 640px 0px;
    position: relative;
    right: 0px;
    text-rendering: optimizelegibility;
    top: 0px;
    transform-origin: 640px 0px;
    width: 1280px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 80px 104.6px 0px;
    padding: 0px 15px;
}/*#DIV_2*/



#DIV_3 {
    block-size: 330px;
    box-sizing: border-box;
    float: left;
    height: 330px;
    inline-size: 260.413px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 130.2px 165px;
    text-rendering: optimizelegibility;
    transform-origin: 130.206px 165px;
    width: 260.413px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    padding: 0px 15px;
}/*#DIV_3*/



#H5_4 {
    block-size: 24px;
    box-sizing: border-box;
    height: 24px;
    inline-size: 230.413px;
    letter-spacing: 1px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 115.2px 12px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    transform-origin: 115.206px 12px;
    width: 230.413px;
    font: 700 18px / 24px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin-left: 7rem;
}/*#H5_4*/


#UL_5 {
    block-size: 286px;
    box-sizing: border-box;
    height: 286px;
    inline-size: 230.413px;
    margin-block-end: 0px;
    margin-block-start: 20px;
    padding-inline-start: 0px;
    perspective-origin: 115.2px 143px;
    text-rendering: optimizelegibility;
    transform-origin: 115.206px 143px;
    width: 230.413px;
    flex-flow: column nowrap;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    list-style: outside none none;
    margin: 20px 0px 0px;
    padding: 0px;
}/*#UL_5*/
li {
    padding: 0 1rem;
    transition: opacity 0.2s;
  }
  
  #UL_5:hover li:not(:hover) {
    opacity: 0.5;
  }


 #LI_6, #LI_8 {
    block-size: 58px;
    bottom: 0px;
    box-sizing: border-box;
    height: 58px;
    left: 0px;
    perspective-origin: 115.2px 29px;
    position: relative;
    right: 0px;
    text-rendering: optimizelegibility;
    top: 0px;
    transform-origin: 115.206px 29px;
    width: 230.413px;
    list-style: outside none none;
}/*#LI_6, #LI_8,*/
#A_7 {
    block-size: 58px;
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    display: flex;
    height: 58px;
    inline-size: 230.413px;
    justify-content: space-between;
    vertical-align: bottom;
    width: 230.413px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    list-style: outside none none;
    outline: rgb(0, 0, 0) none 0px;
    padding: 17px 15px;
    transition: color 0.3s cubic-bezier(0.3, 0, 0, 1) 0s, background-color 0.3s cubic-bezier(0.3, 0, 0, 1) 0s;
}/*#A_7*/


#A_7_5, #A_9_5,#A_13_5,#A_15_5 {
    display: inline-block; 
    vertical-align: middle;
  }
  #A_7_5:hover,#A_9_5:hover,#A_13_5:hover,#A_15_5:hover,
  #A_7_5:focus,#A_9_5:focus,#A_13_5:focus,#A_15_5:focus,
  #A_7_5:active,#A_9_5:active,#A_13_5:active,#A_15_5:active {
    box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
    transform: scale(1.2);
    font-family: Tahoma, sans-serif;
  }


  #A_7_5::after, #A_9_5::after,#A_13_5::after,#A_15_5::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  #A_7_5:hover::after, #A_9_5:hover::after,#A_13_5:hover::after,#A_15_5:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
#A_9 {
    block-size: 58px;
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    display: flex;
    height: 58px;
    inline-size: 230.413px;
    justify-content: space-between;
    padding-block-end: 17px;
    padding-block-start: 17px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 115.2px 29px;
    text-align: left;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-rendering: optimizelegibility;
    touch-action: manipulation;
    transform-origin: 115.206px 29px;
    vertical-align: bottom;
    width: 230.413px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(0, 0, 0) none 0px;
    padding: 17px 15px;
    transition: color 0.3s cubic-bezier(0.3, 0, 0, 1) 0s, background-color 0.3s cubic-bezier(0.3, 0, 0, 1) 0s;
}/*#A_12,


#LI_12, #LI_14 {
    block-size: 56px;
    bottom: 0px;
    box-sizing: border-box;
    height: 56px;
    inline-size: 230.413px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 115.2px 28px;
    position: relative;
    right: 0px;
    text-rendering: optimizelegibility;
    top: 0px;
    transform-origin: 115.206px 28px;
    width: 230.413px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    list-style: outside none none;
}/*#LI_12, #LI_14*/


#A_13, #A_15 {
    block-size: 56px;
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    display: flex;
    height: 56px;
    inline-size: 230.413px;
    justify-content: space-between;
    padding-block-end: 17px;
    padding-block-start: 17px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 115.2px 28px;
    text-align: left;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-rendering: optimizelegibility;
    touch-action: manipulation;
    transform-origin: 115.206px 28px;
    vertical-align: bottom;
    width: 230.413px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(0, 0, 0) none 0px;
    padding: 17px 15px;
    transition: color 0.3s cubic-bezier(0.3, 0, 0, 1) 0s, background-color 0.3s cubic-bezier(0.3, 0, 0, 1) 0s;
}/*#A_13, #A_15*/


#DIV_26 {
    block-size: 1400.2px;
    box-sizing: border-box;
    float: left;
    height: 1400.2px;
    inline-size: 937.5px;
    margin-inline-start: 52.075px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 468.75px 700.1px;
    text-rendering: optimizelegibility;
    transform-origin: 468.75px 700.1px;
    width: 937.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 52.075px;
    padding: 0px 15px;
}/*#DIV_26*/



#DIV_27 {
    block-size: 1105.2px;
    box-sizing: border-box;
    display: flex;
    height: 1105.2px;
    inline-size: 907.5px;
    justify-content: center;
    min-block-size: 300px;
    min-height: 300px;
    padding-block-end: 16px;
    padding-block-start: 16px;
    padding-inline-end: 7px;
    padding-inline-start: 7px;
    perspective-origin: 453.75px 552.6px;
    text-rendering: optimizelegibility;
    transform-origin: 453.75px 552.6px;
    width: 907.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    flex-flow: row wrap;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    padding: 16px 7px;
}/*#DIV_27*/


#DIV_28 {
    block-size: 1073.2px;
    box-sizing: border-box;
    height: 1073.2px;
    inline-size: 893.5px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 446.75px 536.6px;
    text-rendering: optimizelegibility;
    transform-origin: 446.75px 536.6px;
    width: 893.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}/*#DIV_28*/



#H4_29 {
    block-size: 32px;
    box-sizing: border-box;
    float: left;
    height: 32px;
    inline-size: 893.5px;
    letter-spacing: 1.5px;
    margin-block-end: 15px;
    margin-block-start: 15px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 446.75px 16px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    transform-origin: 446.75px 16px;
    width: 893.5px;
    font: 700 30px / 32px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 15px 0px;
    padding: 0px 15px;
}/*#H4_29*/


#P_30 {
    block-size: 22px;
    box-sizing: border-box;
    float: left;
    height: 22px;
    inline-size: 893.5px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 446.75px 11px;
    text-rendering: optimizelegibility;
    transform-origin: 446.75px 11px;
    width: 893.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px 15px;
}/*#P_30*/


#DIV_31 {
    block-size: 563.2px;
    box-sizing: border-box;
    float: left;
    height: 563.2px;
    inline-size: 893.5px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 446.75px 281.6px;
    text-rendering: optimizelegibility;
    transform-origin: 446.75px 281.6px;
    width: 893.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    padding: 0px 15px;
}/*#DIV_31*/



#H4_32, #H4_40 {
    block-size: 32px;
    box-sizing: border-box;
    height: 32px;
    inline-size: 863.5px;
    letter-spacing: 1.5px;
    margin-block-end: 15px;
    margin-block-start: 60px;
    perspective-origin: 431.75px 16px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    transform-origin: 431.75px 16px;
    width: 863.5px;
    font: 700 30px / 32px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 60px 0px 15px;
}/*#H4_32, #H4_40*/



#DIV_33 {
    block-size: 126.4px;
    box-sizing: border-box;
    height: 126.4px;
    inline-size: 863.5px;
    perspective-origin: 431.75px 63.2px;
    text-rendering: optimizelegibility;
    transform-origin: 431.75px 63.2px;
    width: 863.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}/*#DIV_33*/



#DIV_34, #DIV_35, #DIV_42 {
    block-size: 22px;
    box-sizing: border-box;
    height: 22px;
    hyphens: auto;
    inline-size: 863.5px;
    margin-block-start: 15px;
    overflow-wrap: break-word;
    perspective-origin: 431.75px 11px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    transform-origin: 431.75px 11px;
    width: 863.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 15px 0px 0px;
}/*#DIV_34, #DIV_35, #DIV_42*/



#DIV_36 {
    block-size: 22px;
    box-sizing: border-box;
    height: 22px;
    hyphens: auto;
    inline-size: 863.5px;
    margin-block-start: 15px;
    overflow-wrap: break-word;
    perspective-origin: 431.75px 11px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    transform-origin: 431.75px 11px;
    width: 863.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 15px 0px 0px;
}/*#DIV_36*/



#BUTTON_37, #BUTTON_43, #BUTTON_48 {
    align-items: center;
    block-size: 20px;
    border-block-end-style: none;
    border-block-end-width: 0px;
    border-block-start-style: none;
    border-block-start-width: 0px;
    border-inline-end-style: none;
    border-inline-end-width: 0px;
    border-inline-start-style: none;
    border-inline-start-width: 0px;
    bottom: 0px;
    cursor: pointer;
    display: inline-flex;
    height: 20px;
    inline-size: 94.175px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    justify-content: flex-start;
    left: 0px;
    letter-spacing: 2px;
    margin-block-start: 10px;
    padding-block-end: 0px;
    padding-block-start: 0px;
    padding-inline-end: 0px;
    padding-inline-start: 0px;
    perspective-origin: 47.0875px 10px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: underline solid rgb(0, 0, 0);
    text-transform: uppercase;
    top: 0px;
    touch-action: manipulation;
    transform-origin: 47.0875px 10px;
    width: 94.175px;
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: 700 14px / 20px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 10px 0px 0px;
    padding: 0px;
    transition: transform 0.3s cubic-bezier(0.3, 0, 0, 1) 0s, color 0.3s cubic-bezier(0.3, 0, 0, 1) 0s;
}/*#BUTTON_37, #BUTTON_43, #BUTTON_48*/



#SPAN_38, #SPAN_44, #SPAN_49 {
    block-size: 20px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 20px;
    inline-size: 94.175px;
    letter-spacing: 2px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 47.0875px 10px;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transform-origin: 47.0875px 10px;
    width: 94.175px;
    flex: 1 1 auto;
    font: 700 14px / 20px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    overflow: hidden;
}/*#SPAN_38, #SPAN_44, #SPAN_49*/


#DIV_39 {
    block-size: 138.4px;
    box-sizing: border-box;
    height: 138.4px;
    inline-size: 863.5px;
    perspective-origin: 431.75px 69.2px;
    text-rendering: optimizelegibility;
    transform-origin: 431.75px 69.2px;
    width: 863.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}/*#DIV_39*/


#H5_41 {
    block-size: 24px;
    box-sizing: border-box;
    height: 24px;
    inline-size: 863.5px;
    letter-spacing: 1px;
    margin-block-end: 15px;
    margin-block-start: 0px;
    perspective-origin: 431.75px 12px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    transform-origin: 431.75px 12px;
    width: 863.5px;
    font: 700 18px / 24px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 0px 0px 15px;
}/*#H5_41*/


#DIV_45 {
    block-size: 91.4px;
    box-sizing: border-box;
    height: 91.4px;
    inline-size: 863.5px;
    perspective-origin: 431.75px 45.7px;
    text-rendering: optimizelegibility;
    transform-origin: 431.75px 45.7px;
    width: 863.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}/*#DIV_45*/



#H5_46 {
    block-size: 24px;
    box-sizing: border-box;
    height: 24px;
    inline-size: 863.5px;
    letter-spacing: 1px;
    margin-block-end: 15px;
    margin-block-start: 40px;
    perspective-origin: 431.75px 12px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    transform-origin: 431.75px 12px;
    width: 863.5px;
    font: 700 18px / 24px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 40px 0px 15px;
}/*#H5_46*/



#DIV_47 {
    block-size: 22px;
    box-sizing: border-box;
    height: 22px;
    inline-size: 863.5px;
    perspective-origin: 431.75px 11px;
    text-rendering: optimizelegibility;
    transform-origin: 431.75px 11px;
    width: 863.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}/*#DIV_47*/


#DIV_50, #DIV_51 {
    block-size: 0px;
    box-sizing: border-box;
    float: left;
    height: 0px;
    inline-size: 893.5px;
    margin-block-start: 40px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 446.75px 0px;
    text-rendering: optimizelegibility;
    transform-origin: 446.75px 0px;
    width: 893.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 40px 0px 0px;
    padding: 0px 15px;
}/*#DIV_50, #DIV_51*/



#SECTION_52 {
    block-size: 158px;
    box-sizing: border-box;
    display: flex;
    height: 158px;
    inline-size: 893.5px;
    perspective-origin: 446.75px 79px;
    text-rendering: optimizelegibility;
    transform-origin: 446.75px 79px;
    width: 893.5px;
    flex-flow: row wrap;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}/*#SECTION_52*/



#H5_53 {
    block-size: 24px;
    box-sizing: border-box;
    float: left;
    height: 24px;
    inline-size: 893.5px;
    letter-spacing: 1px;
    margin-block-end: 15px;
    margin-block-start: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 446.75px 12px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    transform-origin: 446.75px 12px;
    width: 893.5px;
    font: 700 18px / 24px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 0px 0px 15px;
    padding: 0px 15px;
}/*#H5_53*/



#P_54 {
    block-size: 44px;
    box-sizing: border-box;
    float: left;
    height: 44px;
    inline-size: 893.5px;
    margin-block-end: 15px;
    margin-block-start: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 446.75px 22px;
    text-rendering: optimizelegibility;
    transform-origin: 446.75px 22px;
    width: 893.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 0px 0px 15px;
    padding: 0px 15px;
}/*#P_54*/



#SPAN_55, #SPAN_56, #SPAN_58 {
    box-sizing: border-box;
    perspective-origin: 0px 0px;
    text-rendering: optimizelegibility;
    transform-origin: 0px 0px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}/*#SPAN_55, #SPAN_56, #SPAN_58*/


#SPAN_57 {
    box-sizing: border-box;
    perspective-origin: 0px 0px;
    text-rendering: optimizelegibility;
    transform-origin: 0px 0px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}/*#SPAN_57*/



#SECTION_59, #SECTION_68 {
    block-size: 50px;
    box-sizing: border-box;
    float: left;
    height: 50px;
    inline-size: 446.75px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 223.375px 25px;
    text-rendering: optimizelegibility;
    transform-origin: 223.375px 25px;
    width: 446.75px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    padding: 0px 15px;
}/*#SECTION_59, #SECTION_68*/



#BUTTON_60, #BUTTON_69 {
    align-items: center;
    block-size: 50px;
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    bottom: 0px;
    cursor: pointer;
    display: inline-flex;
    height: 50px;
    inline-size: 416.75px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    justify-content: space-between;
    left: 0px;
    letter-spacing: 2px;
    min-block-size: 50px;
    min-height: 50px;
    padding-block-end: 0px;
    padding-block-start: 0px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 208.375px 25px;
    position: relative;
    right: 0px;
    text-align: left;
    text-transform: uppercase;
    top: 0px;
    touch-action: manipulation;
    transform-origin: 208.375px 25px;
    white-space: nowrap;
    width: 416.75px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(0, 0, 0);
    font: 700 14px / 20px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    padding: 0px 15px;
    transition: transform 0.3s cubic-bezier(0.3, 0, 0, 1) 0s, color 0.3s cubic-bezier(0.3, 0, 0, 1) 0s;
}/*#BUTTON_60, #BUTTON_69*/



#SPAN_61, #SPAN_70 {
    block-size: 20px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 20px;
    inline-size: 345.75px;
    letter-spacing: 2px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 172.875px 10px;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transform-origin: 172.875px 10px;
    white-space: nowrap;
    width: 345.75px;
    flex: 1 1 auto;
    font: 700 14px / 20px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    overflow: hidden;
}/*#SPAN_61, #SPAN_70*/

#SPAN_62, #SPAN_71 {
    block-size: 24px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 24px;
    inline-size: 39px;
    letter-spacing: 2px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 19.5px 12px;
    text-align: left;
    text-transform: uppercase;
    transform-origin: 19.5px 12px;
    white-space: nowrap;
    width: 39px;
    font: 700 14px / 20px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}/*#SPAN_62, #SPAN_71*/



#svg_63, #svg_72 {
    block-size: 24px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    inline-size: 24px;
    letter-spacing: 2px;
    margin-inline-start: 15px;
    perspective-origin: 12px 12px;
    pointer-events: none;
    text-align: left;
    text-transform: uppercase;
    transform-origin: 12px 12px;
    vertical-align: text-top;
    white-space: nowrap;
    width: 24px;
    flex: 0 0 auto;
    font: 700 14px / 47px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 15px;
    overflow: hidden;
    transition: color 0.3s cubic-bezier(0.3, 0, 0, 1) 0s;
}/*#svg_63, #svg_72*/



#use_64, #use_73 {
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: 2px;
    perspective-origin: 0px 0px;
    pointer-events: none;
    text-align: left;
    text-transform: uppercase;
    transform-origin: 0px 0px;
    white-space: nowrap;
    font: 700 14px / 47px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}/*#use_64, #use_73*/



#DIV_65 {
    block-size: 0px;
    box-sizing: border-box;
    float: left;
    height: 0px;
    inline-size: 893.5px;
    margin-block-start: 10px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 446.75px 0px;
    text-rendering: optimizelegibility;
    transform-origin: 446.75px 0px;
    width: 893.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 10px 0px 0px;
    padding: 0px 15px;
}/*#DIV_65*/



#SECTION_66 {
    block-size: 188px;
    box-sizing: border-box;
    display: flex;
    height: 188px;
    inline-size: 893.5px;
    perspective-origin: 446.75px 94px;
    text-rendering: optimizelegibility;
    transform-origin: 446.75px 94px;
    width: 893.5px;
    flex-flow: row wrap;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}/*#SECTION_66*/

#H5_67 {
    block-size: 24px;
    box-sizing: border-box;
    float: left;
    height: 24px;
    inline-size: 893.5px;
    letter-spacing: 1px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 446.75px 12px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    transform-origin: 446.75px 12px;
    width: 893.5px;
    font: 700 18px / 24px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px 15px;
}/*#H5_67*/

#DIV_74 {
    block-size: 0px;
    box-sizing: border-box;
    float: left;
    height: 0px;
    inline-size: 893.5px;
    margin-block-end: 15px;
    margin-block-start: 15px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 446.75px 0px;
    text-rendering: optimizelegibility;
    transform-origin: 446.75px 0px;
    width: 893.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 15px 0px;
    padding: 0px 15px;
}/*#DIV_74*/

#P_75 {
    block-size: 44px;
    box-sizing: border-box;
    float: left;
    height: 44px;
    inline-size: 893.5px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 446.75px 22px;
    text-rendering: optimizelegibility;
    transform-origin: 446.75px 22px;
    width: 893.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px 15px;
}/*#P_75*/

#DIV_76 {
    block-size: 0px;
    box-sizing: border-box;
    float: left;
    height: 0px;
    inline-size: 893.5px;
    margin-block-start: 40px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 446.75px 0px;
    text-rendering: optimizelegibility;
    transform-origin: 446.75px 0px;
    width: 893.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 40px 0px 0px;
    padding: 0px 15px;
}/*#DIV_76*/

#DIV_77 {
    block-size: 0px;
    box-sizing: border-box;
    height: 0px;
    inline-size: 907.5px;
    margin-block-start: 40px;
    perspective-origin: 453.75px 0px;
    text-rendering: optimizelegibility;
    transform-origin: 453.75px 0px;
    width: 907.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 40px 0px 0px;
}/*#DIV_77*/

#DIV_78 {
    block-size: 255px;
    box-sizing: border-box;
    display: flex;
    height: 255px;
    inline-size: 907.5px;
    perspective-origin: 453.75px 127.5px;
    text-rendering: optimizelegibility;
    transform-origin: 453.75px 127.5px;
    width: 907.5px;
    flex-flow: row wrap;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}/*#DIV_78*/

#DIV_79 {
    block-size: 255px;
    box-sizing: border-box;
    float: left;
    height: 255px;
    inline-size: 907.5px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 453.75px 127.5px;
    text-rendering: optimizelegibility;
    transform-origin: 453.75px 127.5px;
    width: 907.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    padding: 0px 15px;
}/*#DIV_79*/

#H5_80 {
    block-size: 24px;
    box-sizing: border-box;
    height: 24px;
    inline-size: 877.5px;
    letter-spacing: 1px;
    margin-block-end: 15px;
    margin-block-start: 0px;
    perspective-origin: 438.75px 12px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    transform-origin: 438.75px 12px;
    width: 877.5px;
    font: 700 18px / 24px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 0px 0px 15px;
}/*#H5_80*/

#DIV_81 {
    block-size: 136px;
    box-sizing: border-box;
    display: inline-flex;
    height: 100px;
    inline-size: 877.5px;
    perspective-origin: 438.75px 68px;
    text-rendering: optimizelegibility;
    transform-origin: 438.75px 68px;
    width: 877.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    padding: 25px;
}/*#DIV_81*/

#DIV_82 {
    block-size: 86px;
    box-sizing: border-box;
    display: flex;
    height: 86px;
    inline-size: 181.1px;
    margin-inline-end: 50px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 90.55px 43px;
    text-rendering: optimizelegibility;
    transform-origin: 90.55px 43px;
    width: 181.1px;
    flex-flow: column nowrap;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 0px 50px 0px 0px;
}/*#DIV_82*/

#A_83  {
    block-size: 22px;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
}/*#A_83*/
#A_92_5 {
    margin-top: 2rem;
}
#A_83_5,#A_85_5,#A_89_5,#A_91_5,#A_92_5 {
    display: inline-block;
    position: relative;
    color: #000000;
  }
  #A_83_5::after, #A_85_5::after,#A_89_5::after,#A_91_5::after,#A_92_5::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  #A_83_5:hover::after, #A_85_5:hover::after,#A_89_5:hover::after,#A_91_5:hover::after,#A_92_5:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  #A_84, #A_85 {
    block-size: 22px;
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    display: block;
    height: 22px;
    inline-size: 181.1px;
    margin-block-start: 10px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 1px;
    padding-inline-start: 1px;
    perspective-origin: 90.55px 11px;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-rendering: optimizelegibility;
    touch-action: manipulation;
    transform-origin: 90.55px 11px;
    vertical-align: bottom;
    width: 181.1px;
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 10px 0px 0px;
    outline: rgb(0, 0, 0) none 0px;
    padding: 0px 1px;
    transition: color 0.3s cubic-bezier(0.3, 0, 0, 1) 0s, background-color 0.3s cubic-bezier(0.3, 0, 0, 1) 0s;
}/*#A_84, #A_85*/


#DIV_86 {
    block-size: 86px;
    box-sizing: border-box;
    display: flex;
    height: 86px;
    inline-size: 338.1px;
    margin-inline-end: 50px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 169.05px 43px;
    text-rendering: optimizelegibility;
    transform-origin: 169.05px 43px;
    width: 338.1px;
    flex-flow: column nowrap;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 0px 50px 0px 0px;
}/*#DIV_86*/

#A_87 {
    block-size: 22px;
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    display: block;
    height: 22px;
    inline-size: 338.1px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 1px;
    padding-inline-start: 1px;
    perspective-origin: 169.05px 11px;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-rendering: optimizelegibility;
    touch-action: manipulation;
    transform-origin: 169.05px 11px;
    vertical-align: bottom;
    width: 338.1px;
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
    padding: 0px 1px;
    transition: color 0.3s cubic-bezier(0.3, 0, 0, 1) 0s, background-color 0.3s cubic-bezier(0.3, 0, 0, 1) 0s;
}/*#A_87*/

 #A_89 {
    block-size: 22px;
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    display: block;
    height: 22px;
    inline-size: 338.1px;
    margin-block-start: 10px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 169.05px 11px;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-rendering: optimizelegibility;
    touch-action: manipulation;
    transform-origin: 169.05px 11px;
    vertical-align: bottom;
    width: 338.1px;
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    margin: 10px 0px 0px;
    outline: rgb(0, 0, 0) none 0px;
    padding: 0px 1px;
}/*#A_88, #A_89*/

#DIV_90 {
    block-size: 86px;
    box-sizing: border-box;
    display: flex;
    height: 86px;
    inline-size: 133.488px;
    margin-inline-end: 50px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 66.7375px 43px;
    text-rendering: optimizelegibility;
    transform-origin: 66.7438px 43px;
    width: 133.488px;
    flex-flow: column nowrap;
    margin: 0px 50px 0px 0px;
}/*#DIV_90*/






