<div class="header">

    <div class="header_icon">

        <label onclick="openCloseSideBar()" id="forcus_open"><i class="fa-sharp fa-solid fa-bars"></i></label>
    </div>
    <div class="header_item"></div>
    <div class="header_profile">
        <img src="https://lh3.googleusercontent.com/ogw/AOh-ky2WSQimQiJ-ikW_fwRzDgzgWsduLlBhitkJHcXZ=s64-c-mo"
            alt="avtar">
        <p>NghiaTran
            <i onclick="activeDropdown(this)" class="fa-solid fa-caret-down">
            </i>
        </p>

    </div>


    <div onclick="activeDropdown(this)" data-modal="off" class="dropdown_profile">
        <ul class="header_ul">
            <li>
                <button onclick="handleModalprofile()" id="header_profile" class="header_profile_btn">
                    <i class="fa-sharp fa-solid fa-id-card"></i>

                    <span> Profile</span>
                </button>
            </li>
            <li>
                <button onclick="handelLogOut()" class="header_profile_btn logout_danger">
                    <i class="fa-solid fa-right-from-bracket"></i>

                    <span> Logout</span>
                </button>
            </li>
        </ul>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const avatar = document.querySelector('.header_profile');
            const userInfo = JSON.parse(localStorage.getItem('userInfo'));
            const html = `<img src="${userInfo.avatar}"
            alt="avtar">
        <p>${userInfo.first_name} ${userInfo.last_name}
            <i onclick="activeDropdown(this)" class="fa-solid fa-caret-down">
            </i>
        </p>`;
            avatar.innerHTML = html;
        });
    </script>
</div>