<div class="">
    <div class="logo">
        <a href="#">
            <img class="logo_img" src="./assets/images/logo.png" alt="logo">
            <span class="visibility">ADMIN</span></a>
    </div>
    <ul class="sidebar_ul">

        <li id="sidebar_li-dasboard" class="sidebar_li active"
            onclick="loadFileHtml('content','../Dasboard/dasboard');activeSideBar('#sidebar_li-dasboard');">
            <button class="sildebar_btn sidebar_active">
                <i class="fa-solid fa-gauge"></i>
                <span class="visibility "> Dasboard</span>
            </button>
        </li>
        <li id="sidebar_li-acount" class="sidebar_li"
            onclick="loadFileHtml('content','../Accounts/list');activeSideBar('#sidebar_li-acount');">
            <button class="sildebar_btn sidebar_active">
                <i class="fa-solid fa-user"></i>

                <span class="visibility"> Accounts</span>
            </button>
        </li>

        <li id="sidebar_li-product" class="sidebar_li"
            onclick="loadFileHtml('content','../Products/list');activeSideBar('#sidebar_li-product');">
            <button class="sildebar_btn sidebar_active">
                <i class="fa-solid fa-user"></i>

                <span class="visibility"> Products</span>
            </button>
        </li>

    </ul>
</div>