<div class="">
    <div class="logo">
        <a href="#">
            <img class="logo_img" src="./assets/images/logo.png" alt="logo">
            <span class="visibility">ADMIN</span></a>
    </div>
    <ul class="sidebar_ul">

        <li onmouseover="handleHoverSibar(this)" onmouseout="handleHoverSibar(this)" id="sidebar_li-dasboard"
            data-tool-tip-content="Dashboard" class="sidebar_li active"
            onclick="loadFileHtml('content','../Dashboard/dashboard');activeSideBar('#sidebar_li-dasboard');">
            <button class="sildebar_btn sidebar_active">
                <i class="fa-solid fa-gauge"></i>
                <span class="visibility "> Dashboard</span>
            </button>
        </li>
        <li onmouseover="handleHoverSibar(this)" onmouseout="handleHoverSibar(this)" id="sidebar_li-account"
            data-tool-tip-content="Accounts" class="sidebar_li"
            onclick="loadFileHtml('content','../Accounts/list');activeSideBar('#sidebar_li-account');">
            <button class="sildebar_btn sidebar_active">
                <i class="fa-solid fa-user"></i>

                <span class="visibility"> Accounts</span>
            </button>
        </li>

        <li onmouseover="handleHoverSibar(this)" onmouseout="handleHoverSibar(this)" id="sidebar_li-product"
            data-tool-tip-content="Products" class="sidebar_li"
            onclick="loadFileHtml('content','../Products/list');activeSideBar('#sidebar_li-product');">
            <button class="sildebar_btn sidebar_active">
                <i class="fa-solid fa-user"></i>

                <span class="visibility"> Products</span>
            </button>
        </li>

    </ul>
</div>