@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root{
    --main-color : #87a96b;
}
body{
    font-family: "Roboto";
}
.logo img{
    width: 70px;
    height: 70px;
    padding-left: 10px;
}
header{
    display: flex;
    background: var(--main-color);
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo{
    flex:0.5;
}
.menu{
    
    margin-left: 30%;
    margin: auto;
}
.menu button{
    background: transparent;
    border: 3px solid black;
    padding: 10px;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 17.5px;
    margin: 5px;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    background: black;
    color: white;
    font-weight: bold;
    border: solid 1px white;
    transition: all 0.6s ease;
}
.menu button:hover{
    background: white;
    color: black;
}
.other{
    flex:1;
    text-align: right;
    padding-right: 50px;
    padding-top: 15px;
}
.other input{
    width: 300px;
    height: 30px;
    border-radius: 50px;
}
.other button{
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 100%;
    transition: all 0.5s ease;
}
.other button:hover{
    transform: scale(1.5);
}
.lg-title{
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    font-style: italic;
}
.products-layout{
    display: flex;
    flex-wrap: wrap;
}
.product-content{
    background-color: #87a96b;
    padding: 10px 10px 10px;

    margin-left: 150px;
    margin-top: 100px;
    border: solid black;
}
.product-image img{
    width: 280px;
    height: 280px;
    padding-bottom: 0.5rem;
}
.product{
    display: flex;
    flex-direction: column;
}
.product-info{
    background-color: lightgray;
    padding: 10px 0px 10px;

    margin-left: 150px;
    
    border: solid black;
    
}
.info-top{
    margin:0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.type{
    text-decoration: underline;
}
.price{
    display: flex;
    justify-content: right;
    font-style: italic;
}
.name{
    margin-top: 5px;
    margin-left: 10px;
    color: blue;
    font-size: 18px;
}
.product-btn{
    display: flex;
    justify-content: space-between;
}
.btn-buy, .btn-add{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 17.5px;
}
.btn-add{
    background: black;
    color: white;
    border: 1px solid white;
}
.btn-buy{
    background: white;
    color: black;
    border: 2px solid black;
}
.btn-add:hover{
    background :lightgray;
    color: black;
}
.btn-buy:hover{
    background:lightgreen;
    color: black;
}

