@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* :root{
    --main-color : rgb(135, 169, 107);
}
body{
    font-family: "Roboto";
} */
/* .head{
    position: fixed;
    margin-top: 100px;
} */
.logo_product img{
    width: 70px;
    height: 70px;
}
.logo_product button{
    width: 70px;
    height: 70px;
    padding-left: 10px;
    background: #27ae60;
    border: none;
    transition: all 0.5s ease;
}

.logo_product button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.head{
    display: flex;
    background: #27ae60;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo_product{
    flex:0.5;
}
.menu{
   margin: auto;
}
.menu button{
    background: transparent;
    border: 3px solid black;
    padding: 10px;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 17.5px;
    margin: 5px;
    margin-left: 20px;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    background: black;
    color: white;
    font-weight: bold;
    border: solid 1px white;
    transition: all 0.6s ease;
}
div.menu button.active{
    background:white;
    color: black;
}
.menu button:hover{
    background: white;
    color: black;
}

.other{
    flex:1;
    text-align: right;
    padding-right: 50px;
    padding-top: 15px;
}
.other input{
    width: 300px;
    height: 30px;
    border-radius: 50px;
}
.other button{
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 100%;
    transition: all 0.5s ease;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.other button:hover{
    transform: scale(1.5);
}

.lg-title{
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    font-style: italic;
    font-size: 50px;
}
.products-layout{
    display: flex;
    flex-wrap: wrap;
}
.product-content{
    background-color: #87a96b;
    padding: 10px 10px 10px;

    margin-left: 150px;
    margin-top: 100px;
    border: solid black;
}
.product-image img{
    box-shadow: 5px 5px black;
    width: 280px;
    height: 280px;
    padding-bottom: 0rem;
    transition: all 0.5s ease;
}
.product-image img:hover{
    transform: scale(1.05);
}
.product{
    display: flex;
    flex-direction: column;
}
.product-info{
    background-color: lightgray;
    padding: 10px 0px 10px;

    margin-left: 150px;
    
    border: solid black;
    
}
.info-top{
    margin:0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.type{
    text-decoration: underline;
}
.price{
    display: flex;
    justify-content: right;
    font-style: italic;
    padding-right: 5px;
    font-size: 20px;
}
.name{
    margin-top: 5px;
    margin-left: 10px;
    color: blue;
    font-size: 18px;
}
.product-btn{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.btn-buy, .btn-add{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 17.5px;
}
.btn-add{
    background: black;
    color: white;
    border: 1px solid white;
}
.btn-buy{
    background: white;
    color: black;
    border: 2px solid black;
}
.btn-add:hover{
    background :lightgray;
    color: black;
}
.btn-buy:hover{
    background:lightgreen;
    color: black;
}


.cart_modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 

}
.cart-modal-content{
    background-color: #fefefe;
  margin: auto;

  border: 1px solid #888;
  width: 50%;
}
.close{
    color:white;
    padding-right: 10px;
    padding-left: 10px;
  font-size: 30px;
  font-weight: bold;
  border:solid 5px black;
  border-radius: 100%;
  margin-right: 10px;
}

.close:hover, .close:focus{
    color: #000;
  text-decoration: none;
  cursor: pointer;
}
.intro{
    padding: 10px;
    background: #27ae60;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro .title{
    padding-left: 20px;
    font-size: 30px;
    padding-top: 5px;
    padding-right: 20px;
    background :white;
    float: left;
    border-radius:5px;
    text-transform: uppercase;
    font-weight: bold;
}
#cart_products{
    display: flex;
    flex-direction: column;
}
.single-product{
    display: flex;
}
.single-product .pr-img img{
    flex: 1;
    width: 100px;
    height: 100px;
    border: solid 2px black;
}
.single-product .pr-name{
    flex:2;
    margin-top: 40px;

}
.single-product .pr-name span{
    font-size: 20px;
    align-items:flex-end;
}
.single-product .pr-amount{
    flex : 1;
    margin-top: 35px;
}
.single-product .pr-amount input{
    
    width: 50px;
    font-size: 25px;
    border: solid black 1px;
}
.single-product .pr-amount span{
    font-size: 25px;
}
.single-product .pr-price{
    flex: 1;
    margin-top: 40px;
}
.single-product .pr-price span{
    
    font-size: 20px;
    text-align: right;

}
.single-product .delete{
    margin-top: 40px;

}
.single-product .delete button{
    background: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 2px;
    transition: all 0.3 ease;
}
.single-product .delete button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#payment{
    display: flex;

    justify-content: space-between;
}
#payment .total{
    font-size: 25px;
}
#payment .pay button{
    border: solid 3px black;
    background: #27ae60;
    font-size: 25px;
    transition: all 0.3s ease;
}
#payment .pay button:hover{
    transform: scale(1.2);
}
#detail-info{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
#detail-content{
    display: flex;
    flex-direction: row;
}
.detail-img img{
    width: 500px;
    height:500px;
    margin-left: 250px;
    border-right: solid black 5px ;
}
.detail-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    height: 500px;
    width: 500px;
}
.detail-name{
    text-transform: uppercase;
    font-size: 35px;
}
.detail-rate{
    color: #27ae60;
    font-size: 25px;
    
}
.detail-price{
    font-size: 20px;
    font-weight: bold;
    color: blue;
}
.detail-title {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}
.description{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 10px;
    
    word-wrap: break-word;
}
.more-detail{
    display: flex;
    flex-direction: column;
}
.more-detail span{
    font-size: 20px;
    background: #27ae60;
    border: solid black 2px;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
#close-detail{
    position: absolute;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    top : 100px;
    left: 250px;
    padding-right: 10px;
    padding-left: 10px;
    transition: all 0.2s ease;
}
#close-detail:hover{
    color: red;
    cursor: pointer;
    transform: scale(1.5);
}
#notice{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 

}
.notice-title{
    background-color: #fefefe;
    margin: auto;

    border: 1px solid #888;
    width: 30%;
    font-size: 40px;
    text-align: center;
    background: #27ae60;
    border: solid black 5px;
    border-bottom:0px ;
    
}
.notice-content{
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 30%;
    height: 30%;
    text-align: center;
    font-size: 30px;
    border: solid black 5px;
}
.notice-content p{
    margin-top: 10%;
}

