.product {
    width: 100%;
    height: 100%;
}

.product_img {
    object-fit: cover;
    object-position: center;
    padding: 4px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.product_action-btn i {
    font-size: 20px;



}

.product_action-btn {
    height: 40px;
    width: 30%;
    border: none;
    border-radius: 4px;
}

.product_action-btn.bg-edit {
    background-color: #0171b9;
    color:#fff;
    cursor: pointer;
}

.product_action-btn.bg-delete {

    background-color: #dc3444;
    color: #fff;
    cursor: pointer;
}

.product_action-btn:hover i {
    cursor: pointer;
    opacity: 0.5;
}

.product_action-btn+.product_action-btn {
    margin-right: 10px;
}

/* action */
.product_action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;

}

.product_action-search {
    padding: 10px 0;
    width: 50%;



}

.product_action-search input {
    height: 35px;
    min-width: 360px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px;
  margin: 10px 0;
}

.product_action-add {
    flex: 1;
    padding: 5px 15px;
}

.product_action-add button {
    float: right;
    display: block;
    font-size: 14px;
    background-color:#0171b9;
    border: none;
    border-radius: 4px;
    width: 100px;
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    padding: 4px;
    margin-bottom: 10px;
}

.product_action-add button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.wrapper_product {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.parent_product {
    border-radius: 4px;
    border: 0.5px solid #ccc;
    width: 60%;
    min-height: 500px;
    height: auto;
    background-color: #fff;
    box-shadow: 1px 2px 2px #ccc;

}

.group_input_product label {
    margin-top: 10px;
}

.wrapper_product-form {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.group_input_product {
    display: flex;
    flex-direction: column;
    width: 100%;

    /* height: 50px; */
}

.group_input_product+.group_input_product {
    margin-top: 10px;
}

.input_product {
    margin-top: 10px;
    padding: 10px;
    height: 45px;
    font-size: 18px;
    border-radius: 4px;
    border: 0.5px solid #0059a6;
}

.group_input_product_custom {
    height: unset;
}

.product_btn {

    width: 100px;
    height: 45px;
    border-radius: 4px;
    margin-right: 30px;
    text-transform: uppercase;
    border: none;
}

.product_btn:hover,
.product_btn:active {
    cursor: pointer;
    opacity: 0.6;
}

.product_btn_create {
    background-color: #0059a6;
    color: #fff;
    position: relative;
}

.product_btn_cancel {
    background-color: #ccc;
}

.wrapper_btn {
    text-align: center;
    margin-top: 40px;
}