* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --height-header: 60px;
    --height-content: 60px;
    --width-sidebar: 12%;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#app {
    display: flex;
}

#sidebar {

    background: linear-gradient(138.19deg, #003084 4.98%, #0294D7 100%);
    width: var(--width-sidebar);
    height: 100vh;
    transition: all 1s;
    white-space: nowrap;
    overflow: hidden;


}



#layout {
    flex: 1;
    background-color: aquamarine;
}

#header {

    height: var(--height-header);
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);

}

#content {
    background: #d3d2d2;
    padding: 20px 0 0 20px;
    height: calc(100vh - var(--height-header));
}

/* loading */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #003084;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.model_loading {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: #fffffff7;
}

.title {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

/* message */
.message {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    padding: 12px 0;
    width: 250px;
    transition: all linear 0.3s;

}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 20px));
    }

    to {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes animationFadeout {
    to {
        opacity: 0;
    }
}

.message+.message {
    margin-top: 14px;
}

.message__icon {
    font-size: 20px;
}

.message__body {
    flex: 1;
}

.message__title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;

}

.message__message {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: #777;
}

.message__icon,
.message__close {
    padding: 0 16px;
}

.message__close {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.message__close:hover {
    color: #000;
}

.toast--message-success {
    border-color: #28a745;
}

.toast--message-success .message__icon {
    color: #28a745;
}

.toast--message-error {
    border-color: #dc3545;

}

.toast--message-error .message__icon {
    color: #dc3545;
}

.toast__message-custom {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 5;
}