.body {
    height: 1000;
}

#DIV_1 {
    block-size: 1480.2px;
    box-sizing: border-box;
    float: left;
    height: 1000.2px;
    inline-size: 1519.2px;
    perspective-origin: 759.6px 740.1px;
    width: 1519.2px;
    background: rgb(247, 247, 247);
    font: 16px / 22px;
    padding: 0px 15px;
}
#DIV_26 {
    block-size: 1400.2px;
    box-sizing: border-box;
    float: left;
    height: auto;
    inline-size: 937.5px;
    text-rendering: optimizelegibility;
    transform-origin: 468.75px 700.1px;
    width: 937.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 52.075px;
    padding: 0px 15px;
}
#DIV_1_1 {
    block-size: 399px;
    box-sizing: border-box;
    display: flex;
    height: 450px;
    inline-size: 907.5px;
    justify-content: center;
    width: 907.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    flex-flow: row wrap;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    padding: 16px 7px;
}
#DIV_2_1 {
    overflow-y: auto;
    block-size: 367px;
    box-sizing: border-box;
    float: left;
    height: 367px;
    inline-size: 893.5px;
    width: 893.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    padding: 0px 15px;
}
 
#H4_3 {
    block-size: 32px;
    box-sizing: border-box;
    height: 32px;
    inline-size: 863.5px;
    letter-spacing: 1.5px;
    width: 863.5px;
    font: 700 30px / 32px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 15px 0px;
}


#DIV_4 {
    block-size: 265px;
    box-sizing: border-box;
    height: 265px;
    inline-size: 863.5px;
    text-rendering: optimizelegibility;
    transform-origin: 431.75px 132.5px;
    width: 863.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}



#P_5 {
    block-size: 22px;
    box-sizing: border-box;
    height: 22px;
    inline-size: 863.5px;
    text-rendering: optimizelegibility;
    transform-origin: 431.75px 11px;
    width: 863.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}



#SPAN_6, #SPAN_7, #SPAN_10, #SPAN_12{
    box-sizing: border-box;
    perspective-origin: 0px 0px;
    text-rendering: optimizelegibility;
    transform-origin: 0px 0px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}
#SAV{
    margin-top: 5%;
    margin-left: 40%;
}
#SAV button{
    background-color: #63e198;
    padding: 1rem;
}
#SAV button:hover{
    cursor: pointer;
}
#SPAN_8_1, #SPAN_11 {
    box-sizing: border-box;
    perspective-origin: 0px 0px;
    text-rendering: optimizelegibility;
    transform-origin: 0px 0px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}



#B_9 {
    box-sizing: border-box;
    perspective-origin: 0px 0px;
    text-rendering: optimizelegibility;
    transform-origin: 0px 0px;
    font: 700 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}



#DIV_13 {
    block-size: 0px;
    box-sizing: border-box;
    height: 0px;
    inline-size: 863.5px;
    text-rendering: optimizelegibility;
    transform-origin: 431.75px 0px;
    width: 863.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 15px 0px 0px;
}

#DIV_14 {
    align-items: stretch;
    block-size: 228px;
    box-sizing: border-box;
    display: flex;
    height: 228px;
    inline-size: 863.5px;
    width: 863.5px;
    flex-flow: row wrap;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -10px;
}



#DIV_17 {
    block-size: 22px;
    box-sizing: border-box;
    height: 22px;
    inline-size: 369.75px;
    text-rendering: optimizelegibility;
    transform-origin: 184.875px 11px;
    width: 369.75px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}



#DIV_18 {
    block-size: 120px;
    box-sizing: border-box;
    height: 120px;
    inline-size: 369.75px;
    text-rendering: optimizelegibility;
    transform-origin: 184.875px 60px;
    width: 369.75px;
    flex: 1 1 auto;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}



#DIV_19 {
    block-size: 24px;
    box-sizing: border-box;
    height: 24px;
    inline-size: 369.75px;
    text-rendering: optimizelegibility;
    transform-origin: 184.875px 12px;
    width: 369.75px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}


#svg_21 {
    block-size: 24px;
    box-sizing: border-box;
    display: inline-block;
    height: 24px;
    inline-size: 24px;
    perspective-origin: 12px 12px;
    pointer-events: none;
    text-rendering: optimizelegibility;
    transform-origin: 12px 12px;
    vertical-align: text-top;
    width: 24px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    overflow: hidden;
}/*#svg_21*/



#use_22 {
    box-sizing: border-box;
    perspective-origin: 0px 0px;
    pointer-events: none;
    text-rendering: optimizelegibility;
    transform-origin: 0px 0px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
}/*#use_22*/



#DIV_23 {
    block-size: 0px;
    box-sizing: border-box;
    height: 0px;
    inline-size: 863.5px;
    margin-block-start: 40px;
    perspective-origin: 431.75px 0px;
    text-rendering: optimizelegibility;
    transform-origin: 431.75px 0px;
    width: 863.5px;
    font: 16px / 22px "Noto Sans", AdihausDIN, Helvetica, Arial, sans-serif;
    margin: 40px 0px 0px;
}/*#DIV_23*/




